body{
	background-image: linear-gradient(to right,#43b752,#3eb7b7)
}

.maincontent{
	height: 550px;
	width:  25%;
	background-color: #d2d5db;

}

#padding{
	margin-top: 6%;
}

.borderset{
	border :5px solid #232323;
}

#sizingimage{
	height:40%;
	width: 55%;
}

#fontstyle{
  font-family: 'Anton', sans-serif;
  font-size: 3rem;	
}

#fontforcontent{
	font-family: 'Fjalla One', sans-serif;
	font-size: 1rem;
    max-height: 120px;
}

#github{
	font-size:2rem;
	
}
a{
	color: #232323;
}

#clickbutton{
	font-family: 'Anton', sans-serif;
	font-size: 1.5rem;
}